In [1]:
import pandas as pd

## Load Dataset

In [2]:
train = pd.read_csv("bike_sharing/train.csv")
print (train.shape)
train.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [3]:
test = pd.read_csv("bike_sharing/test.csv")
print (test.shape)
test.head()

(6493, 9)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

## Preprocessing

In [68]:
train["datetime"] = pd.to_datetime(train["datetime"])

train["datetime-year"] = train["datetime"].dt.year
train["datetime-month"] = train["datetime"].dt.month
train["datetime-day"] = train["datetime"].dt.day
train["datetime-hour"] = train["datetime"].dt.hour
train["datetime-minute"] = train["datetime"].dt.minute
train["datetime-second"] = train["datetime"].dt.second

print (train.shape)
train.head()

(10886, 18)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0,0,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1,0,0
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2,0,0
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011,1,1,3,0,0
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011,1,1,4,0,0

In [67]:
test["datetime"] = pd.to_datetime(test["datetime"])

test["datetime-year"] = test["datetime"].dt.year
test["datetime-month"] = test["datetime"].dt.month
test["datetime-day"] = test["datetime"].dt.day
test["datetime-hour"] = test["datetime"].dt.hour
test["datetime-minute"] = test["datetime"].dt.minute
test["datetime-second"] = test["datetime"].dt.second

print (test.shape)
test.head()

(6493, 15)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-minute,datetime-second
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011,1,20,0,0,0
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,1,0,0
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011,1,20,2,0,0
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,3,0,0
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011,1,20,4,0,0

In [69]:
feature_names = ["season", "holiday", "workingday", "weather", "temp", "atemp", "humidity", "windspeed", "datetime-year","datetime-year", "datetime-month", "datetime-day", "datetime-hour", "datetime-second"]
feature_names

['season',
 'holiday',
 'workingday',
 'weather',
 'temp',
 'atemp',
 'humidity',
 'windspeed',
 'datetime-year',
 'datetime-year',
 'datetime-month',
 'datetime-day',
 'datetime-hour',
 'datetime-second']

In [70]:
train[feature_names].head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-second
0,1,0,0,1,9.84,14.395,81,0.0,2011,2011,1,1,0,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,2011,1,1,1,0
2,1,0,0,1,9.02,13.635,80,0.0,2011,2011,1,1,2,0
3,1,0,0,1,9.84,14.395,75,0.0,2011,2011,1,1,3,0
4,1,0,0,1,9.84,14.395,75,0.0,2011,2011,1,1,4,0

In [71]:
train_x = train[feature_names]
print (train_x.shape)
train_x.head()

(10886, 14)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-second
0,1,0,0,1,9.84,14.395,81,0.0,2011,2011,1,1,0,0
1,1,0,0,1,9.02,13.635,80,0.0,2011,2011,1,1,1,0
2,1,0,0,1,9.02,13.635,80,0.0,2011,2011,1,1,2,0
3,1,0,0,1,9.84,14.395,75,0.0,2011,2011,1,1,3,0
4,1,0,0,1,9.84,14.395,75,0.0,2011,2011,1,1,4,0

In [72]:
test_x = test[feature_names]
print (test_x.shape)
test_x.head()

(6493, 14)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime-year,datetime-year,datetime-month,datetime-day,datetime-hour,datetime-second
0,1,0,1,1,10.66,11.365,56,26.0027,2011,2011,1,20,0,0
1,1,0,1,1,10.66,13.635,56,0.0000,2011,2011,1,20,1,0
2,1,0,1,1,10.66,13.635,56,0.0000,2011,2011,1,20,2,0
3,1,0,1,1,10.66,12.880,56,11.0014,2011,2011,1,20,3,0
4,1,0,1,1,10.66,12.880,56,11.0014,2011,2011,1,20,4,0

In [73]:
label_name = "count"

train_y = train[label_name]
print (train_y.shape)
train_y.head()

(10886,)

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

### Use Decision Tree

In [22]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [23]:
model.fit(train_x, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [25]:
predictions = model.predict(test_x)

print (predictions.shape)
predictions

(6493,)

array([243,  63,  63, ...,  71,   2,   3])

In [28]:
submit = pd.read_csv("bike_sharing/sampleSubmission.csv")

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [29]:
submit["count"] = predictions

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00    243
1  2011-01-20 01:00:00     63
2  2011-01-20 02:00:00     63
3  2011-01-20 03:00:00     71
4  2011-01-20 04:00:00     71

In [30]:
submit.to_csv("bike_sharing/baseline_script.csv", index=False)

In [40]:
from sklearn.tree import DecisionTreeRegressor

model = DecisionTreeRegressor()
model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [41]:
model.fit(train_x, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [42]:
predictions = model.predict(test_x)

print (predictions.shape)
predictions

(6493,)

array([419. ,  63. ,  63. , ...,  71. ,   5. ,  15.5])

In [43]:
submit = pd.read_csv("bike_sharing/sampleSubmission.csv")

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [44]:
submit["count"] = predictions

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00  419.0
1  2011-01-20 01:00:00   63.0
2  2011-01-20 02:00:00   63.0
3  2011-01-20 03:00:00   35.0
4  2011-01-20 04:00:00   35.0

In [45]:
submit.to_csv("bike_sharing/regressor_script.csv", index=False)

In [46]:
model = DecisionTreeRegressor(random_state = 8133)
model

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=8133, splitter='best')

In [47]:
model.fit(train_x, train_y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=8133, splitter='best')

In [50]:
predictions = model.predict(test_x)

print (predictions.shape)
predictions

(6493,)

array([419. ,  63. ,  63. , ...,  71. ,   5. ,  15.5])

In [51]:
submit = pd.read_csv("bike_sharing/sampleSubmission.csv")

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [52]:
submit["count"] = predictions

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00  419.0
1  2011-01-20 01:00:00   63.0
2  2011-01-20 02:00:00   63.0
3  2011-01-20 03:00:00   35.0
4  2011-01-20 04:00:00   35.0

In [53]:
submit.to_csv("bike_sharing/fixed_random_state.csv", index=False)

## Use Random Forest

In [74]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
model

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [75]:
model.fit(train_x, train_y)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [76]:
predictions = model.predict(test_x)

print (predictions.shape)
predictions

(6493,)

array([ 14. ,   6.6,   6.9, ..., 120.4, 109. ,  70.4])

In [77]:
submit = pd.read_csv("bike_sharing/sampleSubmission.csv")

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00      0
1  2011-01-20 01:00:00      0
2  2011-01-20 02:00:00      0
3  2011-01-20 03:00:00      0
4  2011-01-20 04:00:00      0

In [78]:
submit["count"] = predictions

print (submit.shape)
submit.head()

(6493, 2)

              datetime  count
0  2011-01-20 00:00:00   14.0
1  2011-01-20 01:00:00    6.6
2  2011-01-20 02:00:00    6.9
3  2011-01-20 03:00:00    3.9
4  2011-01-20 04:00:00    3.1

In [79]:
submit.to_csv("bike_sharing/random_forest_with_datetime.csv", index=False)