In [1]:
import pandas as pd
import random

In [2]:
sessions = pd.read_csv("airbnb/sessions.csv")
sessions.head()

,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,319.0
1,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,67753.0
2,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,301.0
3,d1mm9tcy42,search_results,click,view_search_results,Windows Desktop,22141.0
4,d1mm9tcy42,lookup,NaN,NaN,Windows Desktop,435.0

In [3]:
train = pd.read_csv("airbnb/train_users_2.csv")
train.head()

In [40]:
user_idx = random.randrange(0, train.shape[0])
user_id = train.loc[user_idx]["id"]
print (user_id)
user_sessions = sessions[sessions["user_id"] == user_id]
user_sessions.head()

tbchxrlbky

,user_id,action,action_type,action_detail,device_type,secs_elapsed
3169522,tbchxrlbky,similar_listings,data,similar_listings,Mac Desktop,0.0
3169523,tbchxrlbky,show,view,p3,Mac Desktop,358.0
3169524,tbchxrlbky,ajax_lwlb_contact,click,contact_host,Mac Desktop,36771.0
3169525,tbchxrlbky,similar_listings,data,similar_listings,Mac Desktop,1155.0
3169526,tbchxrlbky,ajax_check_dates,click,change_contact_host_dates,Mac Desktop,31.0

In [42]:
actions = sessions["action"].values

actions = list(set(actions))
len(actions)

360

In [ ]:
for user_idx in range(0, train.shape[0]):
    user_id = train.loc[user_idx]["id"]
    print ("user id : " + user_id)
    user_sessions = sessions[sessions["user_id"] == user_id]
    for action in actions:
        count = user_sessions[user_sessions["action"] == action].shape[0]
        if count:
            print ("action ({}) - count({})".format(action, count))
    print ("-----------" * 8)